.item {

  width: 200px;

  padding: 10px;

  border: 1px solid black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  user-select: none;
}

button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background-color: red;
}
